body {
  text-align: center;
  background-color: rgb(145, 200, 228);
}

#level-title {
  justify-content: center;
  display: flex;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.4rem;
  margin: 4%;
  color: #FEF2BF;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}



.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
  
}

.circle {
  width: 450px;
  height: 450px;
  border-radius: 225px;
  background-color: grey;
  display: flex;
  margin: auto;
  transform: rotate(47deg);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:active {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background-color: grey;
  z-index: 11;
}
.play {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  background-color: #91C8E4;
  display: flex;
  margin: auto;
  border: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.4rem;
  padding-top: 10px;
  color: blanchedalmond;
  transform: rotate(-47deg);
  z-index: 111;
}

.div{
  position: absolute;
  width: 189px;
  height: 190px;;
  background-color: #1A5D1A;
  border-start-start-radius: 225px;
}

.div2{
  position: absolute;
  width: 206px;
    height: 206px;
  background-color: red;
  border-start-start-radius: 225px;
  transform: rotate(180deg);
  margin: 226px;
}

.div3{
  position: absolute;
  width: 190px;
  height: 206px;
  background-color: rgb(13, 18, 130);
  border-start-start-radius: 225px;
  transform: rotateX(180deg);
  top: 226px;
}
.button{
  border: 19px solid;
}
.div4{
  position: absolute;
  width: 206px;
  height: 190px;
  background-color: yellow;
  border-start-start-radius: 225px;
  transform: rotateY(180deg);
  left: 226px;
}
