body {
  text-align: center;
  background-color: rgb(145, 200, 228);
}


#level-title {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  font-family: 'Press Start 2P', cursive;
  margin: 3.5%;
  color: #FEF2BF;
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;

}

.circle {
  position: relative;
  display: flex;
  margin: auto;
  justify-content: center;

}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:active {
  box-shadow: 0 0 10px rgb(87, 84, 84);
  filter: contrast(10px);
  z-index: 11;
}

.play {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #FFFFFF;
  border: 12px solid #333333;
  font-size: 32px;
  font-family: 'Alfa Slab One';
  color: #222;
  padding-top: 10px;
  z-index: 111;
}
.div {
  border: 12px solid #333333;
  width: 200px;
  height: 200px;
  background-color: #00A74A;
  border-start-start-radius: 225px;
}

.div2 {
  border: 12px solid #333333;
  width: 200px;
  height: 200px;
  background-color: #094A8F;
  border-start-start-radius: 225px;
  transform: rotateX(180deg);
}

.div3 {
  border: 12px solid #333333;
  width: 200px;
  height: 200px;
  background-color: #9F0F17;
  border-start-start-radius: 225px;
  transform: rotate(90deg);
}

.div4 {
  border: 12px solid #333333;
  width: 200px;
  height: 200px;
  background-color: #CCA707;
  border-start-start-radius: 225px;
  transform: rotate(180deg);
}